<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.bytechat.dao.GroupMapper">

    <select id="fetchUsersByGroupId" resultType="io.bytechat.entity.UserEntity">
        select * from user as u where u.id in
        (select gu.user_id from group_user as gu where gu.group_id =#{groupId})
    </select>

    <select id="fetchGroupsByUserId" resultType="io.bytechat.entity.GroupEntity">
        select * from groups where id in (select group_id from group_user where user_id = #{userId})
    </select>
</mapper>